/***********************************************/
/** STYLE **/
/** run the following to see changes live **/
/** nodemon --watch / -e je,scss server.js **/

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot?v=2.0.0");
  src: url("../fonts/Roboto-Light.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.ttf?v=2.0.0") format("truetype"), url("../fonts/Roboto-Light.woff?v=2.0.0") format("woff"), url("../fonts/Roboto-Light.svg?v=2.0.0#Roboto-Light") format("svg");
  font-weight: 100;
  font-style: 100;
}

@font-face {
  font-family: 'Ubuntu Mono derivative Powerline';
  src: url("../fonts/Ubuntu Mono derivative Powerline Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Ubuntu Mono derivative Powerline Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu Mono derivative Powerline Bold.woff") format("woff"), url("../fonts/Ubuntu Mono derivative Powerline Bold.ttf") format("truetype"), url("../fonts/Ubuntu Mono derivative Powerline Bold.svg#c73c85af22f1c2bcd7f8faff106eacd4") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Ubuntu Mono derivative Powerline';
  src: url("../fonts/Ubuntu Mono derivative Powerline Bold Italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Ubuntu Mono derivative Powerline Bold Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu Mono derivative Powerline Bold Italic.woff") format("woff"), url("../fonts/Ubuntu Mono derivative Powerline Bold Italic.ttf") format("truetype"), url("../fonts/Ubuntu Mono derivative Powerline Bold Italic.svg#c6d75684997c76201a457d270f7a2dbb") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Ubuntu Mono derivative Powerline';
  src: url("../fonts/Ubuntu Mono derivative Powerline.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Ubuntu Mono derivative Powerline.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu Mono derivative Powerline.woff") format("woff"), url("../fonts/Ubuntu Mono derivative Powerline.ttf") format("truetype"), url("../fonts/Ubuntu Mono derivative Powerline.svg#98f86a252556e87f04e6950d7f8c1d3f") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Ubuntu Mono derivative Powerline';
  src: url("../fonts/Ubuntu Mono derivative Powerline Italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Ubuntu Mono derivative Powerline Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu Mono derivative Powerline Italic.woff") format("woff"), url("../fonts/Ubuntu Mono derivative Powerline Italic.ttf") format("truetype"), url("../fonts/Ubuntu Mono derivative Powerline Italic.svg#e92c3ab117c506b98fac1a246d46edd1") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400;
}

.removePointer {
  pointer-events:none;
}

section {
  padding: 20px;
  box-sizing: border-box;
}

html {
  height: 100%;

  body {

    nav {

      &.slide_tracker {
        position: fixed;
        z-index: 1;
        left: 10px;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          text-align: center;

          li {
            list-style: none;
            text-align: center;
            /*border: 1px solid black;*/
            width: 4px;
            overflow: auto;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;

            div {
              background: #DDD;
              margin-top: 5px;
              margin-bottom: 5px;
              width: 100%;
              height: calc(100% - 10px);
            }

            &:hover > div {
              background: pink;
            }

            &.active > div{
              background: #555;;
            }
          }
        }
      }
    }
  }
}
